
<div class="text-center">

    <img class="col-md-4" src="http://www.porterdavis.com.au/~/media/homes/vienna%20h/vienna%20h%2021/facades/vienna_21_albion.jpg?w=582&amp;h=320&amp;crop=1">

    <img class="col-md-4" src="https://images1.apartments.com/i2/bN2pD4LJb3kNjflLili93ZdudBPJOwo1HA6C4QD2o2k/117/ore-82-washington-dc-building-photo.jpg">

    <img class="col-md-4" src="https://images1.apartments.com/i2/MVlCfUGzRfkB3gH2WlS1ndUTaWM0x6fNWm83EqHau8E/117/acclaim-apartment-homes-phoenix-az-interior-photo.jpg">
</div>

<div class ="greeting">
    <h2>Check out our For Sale and For Rent Listings!</h2>
</div>

<div class=" text-center">
    <img id="dev" src ="../views/images/dev.jpg">
</div>